* {
    font-family: "New Amsterdam", sans-serif;
}

.nav-header {
    display:flex;
    background-color: rgb(38, 19, 19, 0.5); /*0.9 baja opacidad*/
    justify-content: flex-start;
    position: sticky;
}

.logo img {
  position: relative;
  top: 15px;
  padding-left: 25px;
}

header ul li {
    position: relative ;
    right: 9px;
    list-style-type: none;
    display: inline;
    padding: 15px;
}
  
header ul li a {
    font-size: 23px;
    text-decoration: none;
    color: rgb(232, 232, 232);
}

.nav-op a:hover { 
    transition: 200ms;
    color: rgb(118, 27, 27);
}

.login button{
    font-family: "New Amsterdam", sans-serif;
    position: relative;
    top: 15px;
    left: 760px;
    font-size: 19px;
    padding: 6px 20px;
    border: 0px;
    border-radius: 20px ;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 16, 16);
}

main {
    color: lightgray;
    margin: 2% 5%;
}

.heading {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5%;
}

.heading-div {
    display: flex;
    align-items: baseline;
}

h2 {
    font-size: 2.5em;
    margin: 0 10px 0 0;
}

.empty-button {
    border: 0;
    background-color: rgb(172, 73, 73);
    color: lightgray;
    border-radius: 6px;
}

.resume {
    display: flex;
    justify-content: space-between;
}

.resume-products {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.product-card {
    background-color: rgb(95, 16, 16);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    box-shadow: 10px 10px 20px 1px rgba(40, 4, 4, 0.2);
}

.product-card img {
    width: 100px;
    margin: 1%;
}

.product-card div {
    width: 78%;
    display: flex;
    flex-direction: column;
}

.game-name {
    margin: 1% 0 0 0;
}

.game-price {
    margin: 13.5% 0 0 0;
}

.resume-payment {
    background-color: rgb(95, 16, 16);
    border-radius: 6px;
    width: 33%;
    height: 430px;
    box-shadow: 10px 10px 20px 1px rgba(40, 4, 4, 0.2);
}

.resume-payment h4 {
    font-size: 1.5em;
    margin: 5% 10%;
}

.resume-payment-summary {
    display: flex;
    justify-content: space-between;
    margin: 0 10% 5% 10%;
}

.resume-payment-button {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-payment-button button {
    padding: 3% 0 3% 5%;
    text-align: left;
    border: none;
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    transition: 0.5s;
}

.resume-payment-button button:hover {
    background-color: rgb(95, 16, 16);
    color: rgb(237, 237, 237);
}

footer {
    background-color: rgb(27, 13, 13, 0.7);
    height: 100%;
    max-height: 250px;
    display: grid;
}

.footer-redes {
    color: rgb(237, 237, 237);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-redes h3 {
    color: rgb(235, 235, 235);
    font-family:"DM Sans", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.footer-redes i {
    margin: 20px;
    font-size: 23px;
}

.footer-derechos p {
    border-top: 1px solid rgb(113, 92, 92);
    border-bottom: 1px solid rgb(113, 92, 92);
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(113, 92, 92);
    font-size: 15px;
}