* {
  font-family:"DM Sans", sans-serif;
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( to left,rgb(53, 4, 4), rgb(27, 13, 13));
}



/* NAV */
.nav-header {
  display:flex;
  background-color: rgb(38, 19, 19, 0.5); /*0.9 baja opacidad*/
  justify-content: space-around;
  position: sticky;
}

.logo img{
position: relative;
top: 15px;
padding-left: 25px;

}

 ul li {

  position: relative ;
  right: 9px;
  list-style-type: none;
  display: inline;
  padding: 15px;
}

a {
  font-family: "New Amsterdam", sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: rgb(232, 232, 232);
}

/*Aplica hover solo en las opciones(no al logo)*/

.nav-op a:hover { 
  transition: 200ms;
  color: rgb(118, 27, 27);
}

.login button{
  font-family: "New Amsterdam", sans-serif;
  position: relative;
  top: 15px;
  
  font-size: 19px;
  padding: 6px 20px;
  border: 0px;
  border-radius: 20px ;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 16, 16);

}

/* .login a:hover{

} */

/*empiza el estilo del detalle y la barra lateral*/

.main-content {
  display: flex;
  justify-content: space-between;
}

.comment {
  margin-bottom: 15px;
}

.comment img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container {
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: rgb(90, 19, 19);
  border-radius: 10px;
}

.game-details {
display: flex;
justify-content: center;
align-items: center;
}

.game-image {
width: 100%; 
max-width: 500px; 
height: 50vh; 
overflow: hidden;
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
position: relative;
}

.game-image img {
width: 100%;
height: 100%;
object-fit: cover;
transition: opacity 1s ease-in-out;
}

#anterior{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  left: 0;
}

#posterior{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  right: 0;
}

.game-info {
  flex: 2;
  text-align: center;
  color: rgb(212, 130, 130);
}

.description {
  margin-bottom: 20px;
  
  
}
h2{
  font-size: 30px;
  
}

p {
  font-size: 25px;
}

.requirements ul {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 10px; 
  padding: 0;
  list-style: none;
  margin: 0; 
}

.requirements ul li {
  font-family: sans-serif;
  background: linear-gradient( to left,rgb(53, 4, 4), rgb(27, 13, 13));
  color: aliceblue;
  flex: 1 1 30%; 
  min-width: 200px; 
  box-sizing: border-box; 
  padding: 10px; 
}

h3 {
color: aliceblue;
background: linear-gradient( to left,rgb(53, 4, 4), rgb(27, 13, 13));

}

.sidebar {
  width: 25%;
  max-height: 90vh;
  overflow: hidden; 
  padding-left: 20px;
  border-left: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
}


.comments-container {
  display: flex;
  flex-direction: column;
  animation: scrollUp 20s linear infinite; 
}

.comment {
  flex: 0 0 200px; 
  padding: 10px;
}

.comment img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


@keyframes scrollUp {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-50%); 
  }
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 700px;
  top: 50%;
  transform: translateY(-50%);
}


.video {
  width: 100%;
  height: 400px;
}


.close {
  position: absolute;
  right: 20px;
  color: rgb(212, 30, 30);
  font-size: 100px;
  font-weight: bold;
  cursor: pointer;
}

.button-container{
  text-align: center;
  background: linear-gradient( to left,rgb(53, 4, 4), rgb(27, 13, 13));
  margin-top: 20px;

}
.button {
  background-color: rgb(172, 73, 73);
  box-shadow: 10px 10px 15px rgb(250, 88, 88);
  border: none;
  font-size: 40px;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer; 
  transition: all 0.3s ease-in-out; 
}


.button:hover {
  background-color: rgb(250, 88, 88); 
  box-shadow: 12px 12px 20px rgb(250, 88, 88); 
  transform: scale(1.05); 
}



/* FOOTER */

footer{
  background-color: rgb(27, 13, 13, 0.7);
  height: 100%;
  max-height: 250px;
  display: grid;

}

.footer-redes{
  color: rgb(237, 237, 237);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

i{
  font-size: 23px;
  padding: 0 15px ;
}
h3{
  color: rgb(235, 235, 235);
  font-family:"DM Sans", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.footer-derechos p{
  border-top: 1px solid rgb(113, 92, 92);
  border-bottom: 1px solid rgb(113, 92, 92);
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(113, 92, 92);
  font-size: 15px;
}

@media(max-width:1280px){
  .main-content{
    display: flex;
    flex-direction: column;
  }

  .game-details{
    display: flex;
    flex-direction: column;
  }

  .sidebar{
    width: 100%;
    height: auto;
  }
  .comments-container{
    display: flex;
    flex-direction: row;
    animation: scrollSide 20s linear infinite;
  }

  @keyframes scrollSide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .container{
    width: 90%;
   
}
}


