* {
    font-family: "New Amsterdam", sans-serif;
    font-size: 20px;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(117, 30, 30), rgb(18, 9, 9));
  }
  .imagen-header {
    width: 100%;
    height: 250px;
    display: block;
  }

  .nav-header {
    display: flex;
    background-color: rgb(39, 16, 16);
    justify-content: center;
  }
  ul li {
    list-style-type: none;
    display: inline;
  }
  
  a {
    text-decoration: none;
    color: rgb(182, 182, 182);
  }
  .inicio {
    font-size: 28px;
  }
  a:hover {
    transition: 200ms;
    color: rgb(255, 255, 255);
    padding: 20px 25px 21px 25px;
    background-color: rgb(50, 30, 30);
  }
  
  li {
    padding: 20px;
  }
  
  .div-aside {
    display: flex;
    flex-direction: row;
  }