* {
    font-family:"DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: linear-gradient( to left,rgb(78, 5, 5), rgb(10, 2, 2));  

}


/* container de la pagina */
.container{
    display: grid;
    grid-template-areas: 
    'nav'
    'main'
    'footer';
}

nav{
    grid-area: nav;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
     margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(38, 19, 19, 0.9); /*0.9 baja opacidad*/

    position: sticky; /* la nav se queda en el scroll */
    top: 0;  /* Se mantendrá en la parte superior al hacer scroll */
    z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
}

    /* coloca la lista en linea y saca el estilo  */
    .nav-op{
        display: inline-flex;  
        align-items: center;
    }

    .nav-op ul li{
        list-style-type: none;
        display: inline-flex;  
        padding: 2vh;
    }

    .nav-op a{
        font-size: 3.4vh;
        font-family: "New Amsterdam", sans-serif;
        text-decoration: none;
        color: rgb(232, 232, 232);
        transition: color 0.24s;
    }

    .nav-op a:hover { 
        transition: 200ms;
        color: rgb(118, 27, 27);
        filter: drop-shadow(0px 0px 12px rgb(0, 0, 0));
        text-decoration: underline;
    }

    .logo{
        padding: 1vh;
    }

    .login i{
        margin: 20px;
        font-size: 23px;
        color: aliceblue;
        transition: 200ms;
    }

    .login i:hover {
        color: rgb(118, 27, 27);
    }

    .login button{
        font-family: "New Amsterdam", sans-serif;
        font-size: 2.7vh;
        padding: 6px 20px;
        /* pasar a responsive */
        border: 0px;
        border-radius: 20px ;
        color: rgb(255, 255, 255);
        background-color: rgb(95, 16, 16);
        cursor: pointer; 
        transition: 200ms;
    }

    .login button:hover {
        cursor: pointer;
        padding: 9px 23px;
    }



main{
    grid-area: main;
    margin-left: 3%;
    margin-right: 3%;

}

.container_main{
    padding: 1%;
}

.titulo h1{
color: rgb(39, 12, 12);
font-size: 7vh;
font-family: "New Amsterdam", sans-serif;
letter-spacing: 4px;
display: flex;
justify-content: center;
filter: drop-shadow(0px 0px 12px rgb(255, 7, 7));
}


.destacado{
    background: linear-gradient( to left,rgb(53, 4, 4, 0.9), rgb(10, 2, 2, 0.9)), /* Color semitransparente */
    url('/tp-tienda de juegos/asset/image/silenthill.jpg');
    background-size: cover; 
    padding: 3%;
    margin: 2%;
    border: 2vh solid rgb(63, 0, 0);

}

    #pnghero img{ 
        /* ilumina la imagen png */
        filter: drop-shadow(0px 0px 12px rgb(85, 25, 25));
    }

    .logosh{
        padding: 3%;
        display: flex;
        justify-content: center;

    }

        .logosh img{
            background-color: rgb(36, 9, 9);
        }


.container-destc{
        display: grid;
        grid-template-columns: 50% 50%;

    }


    .info-juego{

        margin-right: 3%;
        padding: 5%;
        border-radius: 10%;
        
    }
        .info-juego img{
            display: flex;
            justify-content: center;
        }
        .info-juego h1{
            font-family: "New Amsterdam", sans-serif;
            color: rgb(204, 204, 204);
            font-size: 5vh;
            padding: 1%;
        }
        .info-juego h4{
            font-family:"DM Sans", sans-serif;
            color: rgb(163, 8, 8);
            font-size: 2vh;
            padding: 1vh;
        }

        .info-juego p{
            color: rgb(255, 255, 255);
            padding: 3%;
            background-color: rgb(37, 17, 17);
            font-family:"DM Sans", sans-serif;
            border: 0.4vh solid;
            border-color:rgb(65, 7, 7, 0.6) ;
        }
        .info-juego a{
            color: rgb(163, 8, 8);
            text-decoration: none;
            font-weight: 500;
            font-size: 2.2vh;
        }
            .info-juego a:hover{
                color: rgb(143, 22, 22);
            }

        .boton-animado button{

            padding: 6px 20px;
            /* pasar a responsive */
            border: 3px solid rgb(70, 0, 0);
            border-radius: 10px ;
            color: rgb(255, 255, 255);
            background-color: rgb(92, 14, 14);
            cursor: pointer; 
        }

        .boton-animado a{
            font-family: "New Amsterdam", sans-serif;
            color: rgb(209, 209, 209);
            font-size: 2.8vh;
            letter-spacing: 2px;
        }
        .boton-animado a:hover{
            color: rgb(255, 255, 255);
            text-decoration: underline;
        }

        .galeria-container{
            display:flex;
            flex-wrap: wrap;  
            padding: 4%;
        }

            .galeria-container iframe{
            padding: 0.5%;
            background-color: rgb(44, 7, 9);
            }

            .galeria-container img{
            padding: 0.5%;
            background-color: rgb(44, 7, 9);
        }



    /* SOBRE NOSOTROS */
    #nosotros{
        margin: 5vw auto;      /* Margen adaptable al ancho de la pantalla */
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 5%;           /* Padding adaptable al tamaño del contenedor */
        max-width: 90vw;       /* Ancho máximo de 90% del ancho de la ventana */
        width: 100%;           /* Ancho completo dentro del contenedor máximo */
        height: auto;           /* Altura automática para ajustar el contenido */
        background-color: rgb(51, 20, 14);

        /* glow */
        -webkit-box-shadow:0px 0px 22px 0px rgba(153,3,3,0.64);
        -moz-box-shadow: 0px 0px 22px 0px rgba(153,3,3,0.64);
        box-shadow: 0px 0px 22px 0px rgba(153,3,3,0.64);
    }
        #nosotros h1{
            font-family: "New Amsterdam", sans-serif;
            font-size: 6vh;
            color: rgb(213, 213, 213);
            padding: 1%;
        }

        #nosotros h4{
            color: rgb(196, 97, 97);
        }

        #nosotros p{
        color: aliceblue;
        padding: 1%;
        font-size: 2.5vh;
        }


    .container-compas{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 3%;
    margin-top: 5%;
    } 

    .container-compas p{
        color: aliceblue;
        font-family: "New Amsterdam", sans-serif;
        font-size: 3vh;

    }
        .container-compas img{
            filter: drop-shadow(0px 0px 17px rgb(163, 61, 61));

        }

        .container-compas img:hover{
            filter: drop-shadow(0px 0px 17px rgb(253, 7, 7));
        }


        footer{
            background-color: rgb(27, 13, 13, 0.7);
            height: 100%;
            max-height: 250px;
            grid-area: footer;
            padding: 3%;
            margin-top: 10%;
        
        }

        footer h3{
            color: rgb(235, 235, 235);
            font-family:"DM Sans", sans-serif;
            font-size: 20px;
            display: flex;
            justify-content: center;
          }
        
        
          .footer-redes{
            color: rgb(237, 237, 237);
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
        
          .footer-redes i{
            margin: 20px;
            font-size: 23px;
            cursor: pointer;
            transition: 200ms
          }

          .footer-redes i:hover {
            color: rgb(118, 27, 27);
          }
          
          .footer-derechos p{
            border-top: 1px solid rgb(113, 92, 92);
            border-bottom: 1px solid rgb(113, 92, 92);
            margin: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            color: rgb(113, 92, 92);
            font-size: 15px;
          } 