* {
    font-family: "New Amsterdam", sans-serif;
    font-size: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(117, 30, 30), rgb(18, 9, 9));
}
.login button{
    font-family: "New Amsterdam", sans-serif;
    position: relative;
    top: 15px;
    left: 210px;
    font-size: 19px;
    padding: 6px 20px;
    border: 0px;
    border-radius: 20px ;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 16, 16);

  }
#logo img{
    width: 38px;
    position: relative;
    top: 15px;
    padding-left: 25px;
}
#nav-header {
   display: flex;
    background-color: rgb(38, 19, 19, 0.5);
   justify-content: center;
}

#ul-juegos .li-juegos {
    list-style-type: none;
    display: inline;
    
    
}
i{
    color: white;
}
i:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.link-navegador {
    
    color: rgb(232, 232, 232);
}

.link-navegador:hover {
    transition: 200ms;
    color: rgb(118, 27, 27);
}

.li-juegos {
    padding: 20px;
    
}

i{
    float: right;
}
.contenedor {
    display: flex;
    align-items: flex-start;
}

section {
    width: 20%;
    height: 700px;
    border-radius: 10px;
    background-color: rgb(90, 19, 19);
   
    overflow-y: auto;
    overflow-x: hidden;
}

.button-generos {
    color: beige;
    list-style-type: none;
    background-color: rgb(90, 19, 19) ;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 90%;
    border:none ;
    

}
button:hover{
    transition: 200ms;
    background-color: rgba(3, 3, 3, 0.5);
    cursor: pointer;

}

section::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll vertical */
}


 section::-webkit-scrollbar-thumb {
    color: black;
    background-color: #333; /* Color del pulgar */
    border-radius: 10px; /* Redondeo de los bordes */
    border: 3px solid #333; /* Borde alrededor del pulgar */
}
    

h2 {
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
    color: #111111;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}

main {
    width: 80%;
    padding-left: 20px; 
}

.div-conteiner-juegos{
    display: flex;
    flex-direction: row;
    width: 100%;
    
   
}
.imagen-juegos{
    width: 140px;
    height: 140px;
    padding: 20px;
    object-fit:cover;
    
}

.div-juegos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    border-radius: 10px;
    width: 180px;
    background-color: black;
    margin-left: 30px;
    
}

.p-juegos{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}


/*Boton para info del juego */
.info-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(118, 27, 27);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.info-button:hover {
    background-color: rgb(172, 73, 73);
}
