<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    <link rel="icon" href="../asset/image/logo.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
    <link rel="stylesheet" href="../static/registro.css">
    <title>Registro de Usuario</title>
    

</head>
<body>
    
        <header>
            <!---<div id="div-header" > <video autoplay loop muted playsinline>
            <source src="../asset/video/Still Here   Season 2024 Cinematic - League of Legends (ft. Forts, Tiffany Aris, and 2WEI).mp4" type="video/mp4">
            Tu navegador no soporta video HTML5.
          </video></div> --->
            <nav id="nav-header">
                <div id="logo">
                    <a href="#"><img src="../asset/image/logo.png" alt=""></a>
                </div>
                <ul id="ul-juegos">
                    <li class="li-juegos"><a href="../index.html" class="link-navegador">inicio</a></li>
                    <li class="li-juegos"><a href="#" class="link-navegador">juegos</a>
                    </li>
                    <li class="li-juegos"><a href="recomendaciones.html" class="link-navegador">recomendaciones</a></li>
                    <li class="li-juegos"><a href="oferta.html" class="link-navegador">oferta</a></li>
                    <li class="li-juegos"><a href="contacto.html" class="link-navegador">contacto</a></li>
    
                </ul>
                <div class="login">
                    <a href="./static/login.html">
                        <button>Iniciar sesion</button></a>
                </div>
    
            </nav>
        </header>
        <main><h2>Registro de Usuario</h2> <div id="div-registro">
    <form action="/registro" method="post">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Registrarse</button>
    </form></div></main>

   
    
</body>
</html>
